* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav {
    flex-grow: 1; /* Membuat navigasi mengisi ruang yang tersisa */
    display: flex;
    justify-content: center; /* Memposisikan ul di tengah secara horizontal */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

/* Efek hover pada link menu */
nav ul li a:hover {
    color: black;
    font-weight: bold;
}

/* Ikon Hamburger */
.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    width: 97%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

.hero-content {
    max-width: 1000px;
    text-align: left;
    color: white;
    padding-left: 70px;
    padding-top: 150px;
}

.hero-content h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 25px;
    margin-bottom: 40px;
}

.hero-content .btn {
    background-color: transparent;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid white; /* Tambahkan border putih */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animasi transisi */
}

.hero-content .btn:hover {
    background-color: white; /* Background menjadi putih saat hover */
    color: black; /* Warna teks tetap hitam */
}

/* Navigasi Panah */
.hero-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.nav-btn {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Efek tanda panah */
.nav-btn:hover {
    background-color: white;
    color: black;
    border-color: white;
}




